@import '/src/styles/utils/variables';
@import '/src/styles/utils/mixins';

.achievement-container {
  padding: 45px 20px;
  border-radius: 10px;
  border: 3px solid #f6c90e;
  width: 750px;

  & .achievement-list {
    display: flex;

    & .achievement-item {
      &:not(:last-child) {
        margin-right: 50px;
      }

      & .achievement-item-title {
        font-size: 56px;
        font-weight: 700;
        text-transform: uppercase;
        @include accent-selection-text-styles;
      }

      & .achievement-item-text {
        font-family: $secondary-font-family;
        font-size: 20px;
        text-transform: uppercase;
        max-width: 132px;
        @include accent-selection-text-styles;
      }
    }
  }
}
