@import '/src/styles/utils/variables';

@mixin primary-selection-text-styles {
  &::selection {
    background-color: $primary-color;
  }
}

@mixin accent-selection-text-styles {
  &::selection {
    background-color: $accent-color;
  }
}

@mixin filter-image {
  filter: $filter-image;
  -webkit-filter: $filter-image;
  -moz-filter: $filter-image;
  -o-filter: $filter-image;
  -ms-filter: $filter-image;
}

@mixin filter-swiper-image {
  filter: $swiper-item-image-filter;
  -webkit-filter: $swiper-item-image-filter;
  -moz-filter: $swiper-item-image-filter;
  -o-filter: $swiper-item-image-filter;
  -ms-filter: $swiper-item-image-filter;
}

@mixin position-center {
  top: 50%;
  left: 50%;
  transform: $traslate-postion-center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-stretch {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

@mixin not-selected-text {
  user-select: none;
}

@mixin scrollbar-dark {
  scrollbar-width: thin;
  scrollbar-color: $dark-second-color $scrollbar-color-hover;
  scroll-padding: 5px;

  &::-webkit-scrollbar-thumb:hover {
    background-color: $scrollbar-color-hover;
    padding: 5px;
  }
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    padding: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $dark-second-color;
    border-radius: 16px;
    padding: 5px;
  }
}
