$primary-color: #eee;
$white-color: #ffffff;
$accent-color: #f6c90e;
$dark-color: #303942;

$primary-background-color: #303942;

$font-family: 'Rubik', sans-serif;
$secondary-font-family: 'Montserrat', sans-serif;

$menu-width: 90px;
$menu-border-radius: 40px;
$menu-postion: absolute;
$menu-postion-top: 50%;
$menu-postion-right: 80px;
$menu-background-color: #545f6780;

$text-shadow: 0px 4px 4px #00000040;

$button-border: 2px solid #f6c90e;

$traslate-postion-center: translate(-50%, -50%);
$traslate-postion-center-y: translateY(-50%);
$traslate-postion-center-x: translatex(-50%);

$scrollbar-color: #545f67;
$scrollbar-color-hover: #545f6780;

$transition-fill: fill 0.3s;

$filter-image: brightness(1.25) drop-shadow(16px 16px 20px #c9bc79) invert(85%)
  hue-rotate(189deg);

$swiper-item-box-shadow: 0px 0px 40px 0px #f6c90e;
$swiper-item-image-filter: brightness(0.5);

$text-shadow-secondary: 0px 0px 11px rgba(255, 255, 255, 0.4);
