$primary-background-color: #303942;
$primary-color: #eee;
$white-color: #ffffff;
$background-color-menu: #545f6780;
$scrollbar-color: #545f67;
$scrollbar-color-hover: #545f6780;

$font-family: 'Rubik', sans-serif;

$text-shadow: 0px 4px 4px #00000040;
