@import '/src/styles/utils/variables';
@import '/src/styles/utils/mixins';

.about-section {
  position: absolute;
  top: 50%;
  transform: $traslate-postion-center-y;
  display: flex;

  & .about-item {
    &:last-child {
      padding-top: 15px;
      margin-left: 100px;
    }
  }
}
