@import '/src/styles/utils/variables';
@import '/src/styles/utils/mixins';

.section {
  position: absolute;
  top: 50%;
  transform: $traslate-postion-center-y;
  max-width: 688px;
}

// .myface-myself {
//   position: absolute;
//   right: 10%;
// }