@import '/src/styles/utils/variables';
@import '../../styles/utils/mixins';

.testimonials-section {
  @include flex-center;
  height: calc(100vh - 115px);
  min-height: 100%;
  width: 100%;

  & .testimonials-container {
    width: 100%;
  }
}

.swiper-container {
  width: 100%;
  border-radius: 10px;
  border: $main-border;
  box-shadow: 0px 0px 10px 0px #f6c90e;
}
