@import '/src/styles/utils/variables';
@import '/src/styles/utils/mixins';

.work-section {
  position: absolute;
  top: 50%;
  transform: $traslate-postion-center-y;

  & .work-swiper {
    max-width: 1200px;
    @include not-selected-text;
  }
}

// -----------------------SWIPER----------------------- //

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: -15%;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: $accent-color;
  opacity: 0.5;
}

.swiper-pagination-clickable .swiper-pagination-bullet-active {
  background: $accent-color;
  opacity: 1;
}
