@use 'scss-reset/reset';
@import '/src/styles/utils/variables';
@import '/src/styles/utils/mixins';
@import '/src/styles/utils/fonts';

body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary-background-color;
  color: $primary-color;

  @include scrollbar-dark;
}

code {
  font-family: $font-family;
  color: #eee;
}

.motion-container {
  height: 100%;
}
